<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TITRE SITE</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <a class="navbar-brand " href="#">ALPHADOYA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Accueil</a>
                </li>
            </ul>
        </div>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="text" name="search" placeholder="Rechercher">
            <button class="btn btn-dark my-2 my-sm-0" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Se connecter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Créer un compte</a>
            </li>
        </ul>
    </nav>
</header>

<h2>Sortie récente</h2>
<!--
<div th:each="anime : ${recentlyAiredAnimes}" class="tile">
    <div class="tile-image" th:style="'background-image: url(' + ${anime.imagePath} + ');'"></div>
    <div class="tile-title" th:text="${anime.title}"></div>
</div>-->
<div class="tile">
    <div class="tile-image" style="background-image: url('../static/img/snk.png');"></div>
    <div class="tile-title">SNK</div>
</div>
<div class="tile">
    <div class="tile-image" style="background-image: url('../static/img/FRIEREN.jpg');"></div>
    <div class="tile-title">Frieren</div>
</div>
<div class="tile">
    <div class="tile-image" style="background-image: url('../static/img/COTE.jpg');"></div>
    <div class="tile-title">COTE</div>
</div>
<div class="tile">
    <div class="tile-image" style="background-image: url('../static/img/86.jpg');"></div>
    <div class="tile-title">86</div>
</div>
<div class="tile">
    <div class="tile-image" style="background-image: url('../static/img/MHA.jpg');"></div>
    <div class="tile-title">MHA</div>
</div>
<div class="tile">
    <div class="tile-image" style="background-image: url('../static/img/ONEPIECE.jpg');"></div>
    <div class="tile-title">One Piece</div>
</div>
<div class="tile">
    <div class="tile-image" style="background-image: url('../static/img/DRSTONE.jpg');"></div>
    <div class="tile-title">Dr.STONE</div>
</div>

<h2> Les mieux notées</h2>
<!--
<div th:each="anime : ${topRatedAnimes}" class="tile">
    <div class="tile-image" th:style="'background-image: url(' + ${anime.imagePath} + ');'"></div>
    <div class="tile-title" th:text="${anime.name}"></div>
</div>-->

<div class="tile">
    <div class="tile-image" style="background-image: url('../static/img/FMAB.jpg');"></div>
    <div class="tile-title">FMAB</div>
</div>
<div class="tile">
    <div class="tile-image" style="background-image: url('../static/img/COTE.jpg');"></div>
    <div class="tile-title">COTE</div>
</div>
<div class="tile">
    <div class="tile-image" style="background-image: url('../static/img/STEINSGATE.jpg');"></div>
    <div class="tile-title">Steins Gate</div>
</div>
<div class="tile">
    <div class="tile-image" style="background-image: url('../static/img/GINTAMA.JPG');"></div>
    <div class="tile-title">Gintama</div>
</div>
<div class="tile">
    <div class="tile-image" style="background-image: url('../static/img/HxH.jpg');"></div>
    <div class="tile-title">HxH</div>
</div>
<div class="tile">
    <div class="tile-image" style="background-image: url('../static/img/KAGUYASAMA.jpg');"></div>
    <div class="tile-title">Kaguya Sama</div>
</div>
<div class="tile">
    <div class="tile-image" style="background-image: url('../static/img/snk.png');"></div>
    <div class="tile-title">SNK</div>
</div>

</body>
<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-facebook-f"></i
            ></a>

            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-twitter"></i
            ></a>

            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-google"></i
            ></a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-instagram"></i
            ></a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-linkedin-in"></i
            ></a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-github"></i
            ></a>
        </section>
        <!-- Section: Social media -->
        <!-- Section: Text -->
        <section class="mb-4">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
                repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
                eum harum corrupti dicta, aliquam sequi voluptate quas.
            </p>
        </section>
        <!-- Section: Text -->

        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Home</h5>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">About us</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Link 1</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 2</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">FAQ</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Link 1</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 2</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Privacy</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Link 1</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 2</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright: AlphaDoYa
    </div>
</footer>
