<div th:replace="~{/common/head.html}"></div>
<body>
<div th:replace="~{/common/header.html}"></div>
<div class="container bg-light">
    <h1 class="border-bottom pb-3" th:text="${anime.name}"></h1>
<div class="row">
    <div class="col-md-3 leftside">
        <div class="tile">
            <img th:src="${anime.imageURL}" class="tile-image"/>
            <ul class="list-group list-group-flush">
                <li class="bg-light list-group-item">Titre: <span th:text="${anime.name}"></span></li>
                <li class="bg-light list-group-item">Saisons:</li>
                <li class="bg-light list-group-item">Date de sortie: <span th:text="${anime.releaseDate}"></span></li>
                <li class="bg-light list-group-item">Studio: <span th:text="${anime.studio}"></span></li>
            </ul>
        </div>
		<div class="container mt-4" th:if="${session.user != null && session.user.type != null && session.user.getType().equals('admin')}">
	        <div class="form-group">
	           <a th:href="@{/edit-anime/{animeId}(animeId=${anime.id})}" style="text-decoration: none; color: white;">
				   <button type="button" class="btn btn-success" id="modifierAnime">
					   Modifier l'Anime
					</button>
				</a>
	           <button type="button" class="btn btn-danger" id="supprimerAnime">
	               Supprimer l'Anime
	           </button>
	        </div>
        </div>
    </div>
    <div class="col-md-8 rightside">
        <div class="border">Rank: </div>
        <div class="border">Synopsis: <span th:text="${anime.description}"></span></div>
        <div class="border">Personnages:
            <div>
                <!--
                <span th:each="character : ${anime.characters}" th:text="${character.name}"></span>
                -->
            </div>
        </div>
        <div class="border">
            <h2 class="ml-2 mt-2">Critiques:</h2>
            <div class="container mt-4">
                <button type="button" class="btn btn-primary" id="ajouterCritique">
                    Ajouter une critique
                </button>
                <div id="nouvelleCritique" style="display: none;">
                    <form th:action="@{/review}" method="post">
                        <div class="form-group">
                            <label for="note">Note :</label>
                            <select class="form-control col-md-4" id="note" name="note">
                                <option value=10>(10) Masterclass</option>
                                <option value=9>(9) Excellent</option>
                                <option value=8>(8) Très bien</option>
                                <option value=7>(7) Bien</option>
                                <option value=6>(6) Bon</option>
                                <option value=5>(5) Moyen</option>
                                <option value=4>(4) Mauvais</option>
                                <option value=3>(3) Très mauvais</option>
                                <option value=2>(2) Horrible</option>
                                <option value=1>(1) Crime contre l'humanité</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="critique">Critique :</label>
                            <textarea class="form-control" id="critique" name="critique" placeholder="Saisissez votre critique"></textarea>
                        </div>
                        <input type="hidden" name="animeId" th:value="${anime.id}"/>
                        <input type="hidden" name="userId" th:value="${session.userId}">
                        <button type="submit" class="btn btn-success" id="envoyerCritique">
                            Envoyer
                        </button>
                        <button type="button" class="btn btn-danger" id="annulerCritique">
                            Annuler
                        </button>
                    </form>
                </div>
            </div>

            <div>
                <div th:each="review : ${reviews}">
                    <div class="card mt-4">
                        <div class="card-header">
                            <!-- <span th:text="${review.user.username}"></span> -->
                            <span class="float-right" th:text="${review.rating}"></span>
                        </div>
                        <div class="card-body">
                            <p class="card-text" th:text="${review.review}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div th:replace="~{/common/footer.html}"></div>
</body>
<script>
    document.getElementById("ajouterCritique").addEventListener("click", function() {
        document.getElementById("nouvelleCritique").style.display = "block";
    });
    document.getElementById("annulerCritique").addEventListener("click", function() {
        document.getElementById("nouvelleCritique").style.display = "none";
    });
</script>